



body{
    background: url("../images/pp29.gif");
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden;
    width: 100%;
}

#title {
    background-color: #000A;
    color: #abf503 !important;
    padding: 1 !important;
}
#logo img{border-radius: 50%;
    display: block;
    margin: 0 auto;
}
#menu {
    background: url("../images/m14.jpg") repeat-x;
    background-size: 20% 130%;
}
#menu a{
    background: rgba(0,0,0,0.2);
    margin: auto 1rem;
    border-radius: .5rem;
    opacity: .7;
}
#menu a:hover,#menu a:active{
    background: #f5cf07;
    color: whitesmoke;
    opacity: 1;
}
#menu li{
    padding-top: 10px;
    display: inline-block;
}

#sign-tab a:not(.active),#sign-tab a:hover{
    color: white;
}
#myTab .nav-link{
    color: antiquewhite;
}
#myTab .nav-link.active{
    color: dimgray;
}
#myTab{
    background-color:#18e01fe6 !important;
}

/*.card-columns{*/
/*margin: 0 auto;*/
/*}*/
/*.card {*/
/*border-radius: 1rem;*/
/*margin: 1rem 2rem;*/
/*width: 22rem!important;*/
/*}*/
/*.card-text*/

/*.ca.card-body{*/
/*padding: 0!important;*/
/*}*/
/*.card img{*/
/*border-top-left-radius: 1rem;*/
/*border-top-right-radius: 1rem;*/
/*padding: 0;*/
/*width: 100%;*/
/*}*/
.card{
    width: 23rem !important;
    border-radius: .75rem!important;
    margin: 2rem 0 2rem 2rem;

}
.card .card-body{
    padding: 1rem;
}
.card img{
    width: 100%;
    border-radius: .75rem .75rem 0 0;
    box-shadow: 0 3px 8px 2px rgba(0,0,0,0.2);
}
footer{
    background-color: #fff00e;
    font-size: 14px;
    position: relative;
    bottom: 0;
}
footer a, footer a:visited { color: #6A747C; }
footer a:hover {
    color: black;
    background-color: transparent;
}

footer .footer-nav{
    text-align: center;
    padding: 24px;
    font: 18px/36px raleway-bold, sans-serif;
    font-weight: bolder;

}
footer .footer-nav a { color: #7B858E; }
footer .footer-nav a:hover { color: #000e1d
}
footer .footer-social{
    text-align: center;
    font-size: 30px;
}
footer ul{
    padding: 0;
}
footer .footer-social li a { color: #7B858E; }
footer .footer-social li a:hover { color: #000b17
}
footer .copyright{
    text-align: center;
}
footer ul{
    margin: 0 auto;
}
footer li{
    list-style: none;
    display: inline-block;
    padding: 1vw;
    margin: 0;
}
.footer-nav a:hover,.footer-nav a:active{
    color:black;
}

.tab-content .tab-pane{
    margin-top: 0;
    padding-top: 0;
}



